/***************************************
* Copyright 2016 elementary LLC.       *
* This file is part of elementary.io   *
***************************************/

.member {
    float: left;
    height: 150px;
    margin: 8px auto;
    width: 33%;
}

.team-directory {
    display: inline-block;
    margin: 4px auto;
    padding: 24px 0;
    width: 100%;
}


/**************
* Slack Users *
***************/

.member_photo {
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 96px 96px;
    border: none;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(0,0,0, 0.35),
    inset 0 0 0 2px rgba(255,255,255, 0.10),
    inset 0 2px 0 0 rgba(255,255,255, 0.45),
    inset 0 -2px 0 0 rgba(255,255,255, 0.15),
    0 1px 3px 0 rgba(0,0,0,0.12),
    0 1px 2px 0 rgba(0,0,0,0.24);
    display: inline-block;
    float: left;
    height: 96px;
    margin-right: 20px;
    transition: all 100ms ease-in;
    width: 96px;
}

h5.member_name {
    margin-top: 4px;
    text-align: left;
}

.member_status {
    height: 16px;
    margin-left: 4px;
    width: 16px;
}

.member_title {
    display: block;
    font-size: 90%;
    margin: 4px 0;
    padding-right: 20px;
    text-align: left;
    text-transform: capitalize;
}

.member_time {
    color: #777;
    display: inline-block;
    float: left;
    font-size: 12px;
}

@media only screen and (max-width:1000px) {
    .member {
        height: 256px;
    }

    .member_photo {
        background-size: 144px 144px;
        float: none;
        height: 144px;
        margin: 0;
        width: 144px;
    }

    h5.member_name {
        font-size: 90%;
        margin-top: 8px;
        text-align: center;
    }

    .member_title {
        font-size: 80%;
        padding: 0;
        text-align: center;
    }

    .member_time {
        display: none;
    }
}

@media only screen and (max-width:840px) {
    .member_photo {
        background-size: 120px 120px;
        float: none;
        height: 120px;
        width: 120px;
    }

    .member {
        height: 200px;
        width: 33%;
    }
}

@media only screen and (max-width:700px) {
    .member_photo {
        background-size: 96px 96px;
        float: none;
        height: 96px;
        width: 96px;
    }

    .member {
        height: 200px;
        width: 50%;
    }
}
